.tabs {
  background-color: burlywood;
  color: rebeccapurple;

  .tab {
    display: inline-block;
    padding: 10px 15px;
    background-color: antiquewhite;
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: -1px;
    margin-bottom: -1px;
    min-width: 100px;
    text-transform: uppercase;
    font-size: 14px;

    &.active {
      transform: scaleX(1.1);
      font-weight: bold;
      font-size: 16px;
      border-bottom: none;
      padding: 10px 15px;
    }

    &:not(.active):hover {
      cursor: pointer;
      transform: scaleX(1.1);
      padding-top: 12px;
    }
  }
}
